Razer/Service References/RazerService/RazerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RazerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IRazerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50573/RazerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50573/RazerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50573/RazerService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRazerService_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="IRazerService_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRazerService_GetTableObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableObject" />
  </wsdl:message>
  <wsdl:message name="IRazerService_GetTableObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRazerService_SaveObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveObject" />
  </wsdl:message>
  <wsdl:message name="IRazerService_SaveObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRazerService_SaveTableObject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTableObject" />
  </wsdl:message>
  <wsdl:message name="IRazerService_SaveTableObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTableObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRazerService_NewObject_InputMessage">
    <wsdl:part name="parameters" element="tns:NewObject" />
  </wsdl:message>
  <wsdl:message name="IRazerService_NewObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IRazerService_GetDatabaseServerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseServerName" />
  </wsdl:message>
  <wsdl:message name="IRazerService_GetDatabaseServerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseServerNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRazerService">
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/GetObject" message="tns:IRazerService_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/GetObjectResponse" message="tns:IRazerService_GetObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/GetTableObject" message="tns:IRazerService_GetTableObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/GetTableObjectResponse" message="tns:IRazerService_GetTableObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/SaveObject" message="tns:IRazerService_SaveObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/SaveObjectResponse" message="tns:IRazerService_SaveObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTableObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/SaveTableObject" message="tns:IRazerService_SaveTableObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/SaveTableObjectResponse" message="tns:IRazerService_SaveTableObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/NewObject" message="tns:IRazerService_NewObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/NewObjectResponse" message="tns:IRazerService_NewObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseServerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRazerService/GetDatabaseServerName" message="tns:IRazerService_GetDatabaseServerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRazerService/GetDatabaseServerNameResponse" message="tns:IRazerService_GetDatabaseServerName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRazerService" type="tns:IRazerService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IRazerService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://tempuri.org/IRazerService/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableObject">
      <soap:operation soapAction="http://tempuri.org/IRazerService/GetTableObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveObject">
      <soap:operation soapAction="http://tempuri.org/IRazerService/SaveObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTableObject">
      <soap:operation soapAction="http://tempuri.org/IRazerService/SaveTableObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewObject">
      <soap:operation soapAction="http://tempuri.org/IRazerService/NewObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseServerName">
      <soap:operation soapAction="http://tempuri.org/IRazerService/GetDatabaseServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RazerService">
    <wsdl:port name="BasicHttpBinding_IRazerService" binding="tns:BasicHttpBinding_IRazerService">
      <soap:address location="http://localhost:50573/RazerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>